<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bits</key>
	<real>0.000125</real>
	<key>Bytes</key>
	<real>0.001</real>
	<key>Kilobytes</key>
	<integer>1</integer>
	<key>Megabytes</key>
	<integer>1000</integer>
	<key>Gigabytes</key>
	<integer>1000000</integer>
	<key>Terabytes</key>
	<real>1000000000</real>
</dict>
</plist>
