<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hours/Minutes</key>
	<dict>
		<key>units</key>
		<array>
			<string>Hours</string>
			<string>Minutes</string>
		</array>
		<key>values</key>
		<array>
			<string>1</string>
			<string>0.0166667</string>
		</array>
	</dict>
	<key>Millenium</key>
	<string>8.76e+6</string>
	<key>Centuries</key>
	<string>365000</string>
	<key>Decades</key>
	<string>36500</string>
	<key>Years (Calendar)</key>
	<string>8760</string>
	<key>Months</key>
	<string>730.001</string>
	<key>Weeks</key>
	<string>168</string>
	<key>Days</key>
	<string>24</string>
	<key>Hours</key>
	<string>1</string>
	<key>Minutes</key>
	<string>0.0166667</string>
	<key>Seconds</key>
	<string>0.00027777833333</string>
	<key>Milliseconds</key>
	<string>2.7778e-7</string>
	<key>Microseconds</key>
	<string>2.7778e-10</string>
	<key>Nanseconds</key>
	<string>2.7778e-13</string>
</dict>
</plist>
