<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gallons</key>
	<real>4.54609</real>
	<key>Pints</key>
	<real>0.568261</real>
	<key>Cups</key>
	<real>0.236588</real>
	<key>Tablespoons</key>
	<real>0.0177582</real>
	<key>Teaspoons</key>
	<real>0.00591939</real>
	<key>Litres</key>
	<integer>1</integer>
	<key>Millilitres</key>
	<real>0.001</real>
	<key>Cubic Feet</key>
	<real>28.3168</real>
	<key>Cubic Inches</key>
	<real>0.0163871</real>
	<key>Cubic Metres</key>
	<integer>1000</integer>
	<key>Cubic Centimetres</key>
	<real>0.001</real>
	<key>Cubic Millimetres</key>
	<real>1e-06</real>
</dict>
</plist>
