<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stone</key>
	<real>6.35029</real>
	<key>Pounds</key>
	<real>0.453592</real>
	<key>Ounces</key>
	<real>0.0283495</real>
	<key>Tons (Metric)</key>
	<real>1000</real>
	<key>Tons (Long) (US)</key>
	<string>1016.05</string>
	<key>Tons (Short) (US)</key>
	<string>907.185</string>
	<key>Kilograms</key>
	<integer>1</integer>
	<key>Grams</key>
	<real>0.001</real>
	<key>Milligrams</key>
	<real>1e-06</real>
</dict>
</plist>
